<!doctype html>
<!--[if !IE]>      <html class="no-js non-ie" lang="en-US"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en-US"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!--[if lt IE 9]> <script src="javascripts/html5shiv.js"></script> <![endif]-->

  <link rel='stylesheet' id='responsive-style-css' href='{{ page.pathmodifier }}stylesheets/style.css' type='text/css' />
  <link rel='stylesheet' id='responsive-media-queries-css'  href='{{ page.pathmodifier }}stylesheets/media-queries.css' type='text/css'/>
  <link rel="stylesheet" href='{{ page.pathmodifier }}stylesheets/syntax-highlighting.css'/>

  <script type='text/javascript' src='{{ page.pathmodifier }}javascripts/jquery.js'></script>
  <script type='text/javascript' src='{{ page.pathmodifier }}javascripts/jquery-migrate.min.js'></script>
  <script type='text/javascript' src='{{ page.pathmodifier }}javascripts/responsive-modernizr.js'></script>
  <script type="text/javascript" src='{{ page.pathmodifier }}javascripts/script.js'></script>
  <script type="text/javascript" src='{{ page.pathmodifier }}javascripts/toc.js'></script>

  <title>ArteJS</title>

  <meta name="description" content="ArteJS">
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body class="home blog front-page">
                 
  <div id="container" class="hfeed">
           
      <div id="header">
                 
        <div id="logo" class="skinny-logo">
            <a href="./">ArtéJS</a>
        </div>
            
        <div class="main-nav">
          <ul class="menu">
            <li class="current_page_item"><a href="{{ page.pathmodifier }}index.html" title="Home">Home</a></li>
            <li class="page_item"><a href="{{ page.pathmodifier }}artejs.zip">Download</a></li>
            <li class="page_item"><a href="#" onclick="return false;">Documentation</a>
              <ul class='children'>
                <li class="page_item"><a href='{{ page.pathmodifier }}Overview.html'>Overview</a>
                <li class="page_item"><a href="#" onclick="return false;">Core</a>
                  <ul class="children">
                    <li class="page_item"><a href='{{ page.pathmodifier }}TextArea.html'>Text Area</a></li>
                    <li class="page_item"><a href='{{ page.pathmodifier }}Commands.html'>Commands</a></li>
                    <li class="page_item"><a href='{{ page.pathmodifier }}Events.html'>Events</a></li>           
                  </ul>
                </li>
                <li class="page_item"><a href="#" onclick="return false;">Plugins</a>
                  <ul class="children">
                    <li class="page_item"><a href='{{ page.pathmodifier }}StateDetector.html'>State Detector</a></li>
                    <li class="page_item"><a href='{{ page.pathmodifier }}UndoManager.html'>Undo Manager</a></li>
                    <li class="page_item"><a href='{{ page.pathmodifier }}KeyboardEventHandler.html'>Keyboard Event Handler</a></li>
                    <li class="page_item"><a href='{{ page.pathmodifier }}InsertCommand.html'>Insert Command</a></li>             
                  </ul>
                </li>
              </ul>
            </li>
            <li class="page_item"><a href="#" onclick="return false;">Demos</a>
              <ul class='children'>
                <li class="page_item"><a href='{{ page.pathmodifier }}Demos/FeatureDemonstrator/Demo.html'>Feature Demonstrator</a></li>
                <li class="page_item"><a href='{{ page.pathmodifier }}Demos/SimpleToolbar/Demo.html'>Simple Toolbar</a></li>
                <li class="page_item"><a href='{{ page.pathmodifier }}Demos/UnobtrusiveToolbar/Demo.html'>Unobtrusive Toolbar</a></li>
                <li class="page_item"><a href='{{ page.pathmodifier }}Demos/CompleteToolbar/Demo.html'>Full Toolbar</a></li>
                <li class="page_item"><a href='{{ page.pathmodifier }}Demos/CompleteToolbarWithTwitterBootstrap/Demo.html'>Toolbar + Twitter Bootstrap</a></li>
                <li class="page_item"><a href='{{ page.pathmodifier }}Demos/SingleToolbarMultipleEditors/Demo.html'>Single toolbar with multiple editors</a></li>         
                <li class="page_item"><a href='{{ page.pathmodifier }}Demos/MultipleEditors/Demo.html'>Multiple toolbars/editors</a></li>                       
              </ul>
            </li>
          </ul>
      </div>                
                   
    </div>
          
    <div id="wrapper" class="clearfix">

      {{content}}

    </div><!-- end of #wrapper -->
  </div><!-- end of #container -->

  <div id="footer" class="clearfix">
    
      <div id="footer-wrapper">
      
          <div class="grid col-940">
          
            <div class="grid col-540"></div><!-- end of col-540 -->
           
            <div class="grid col-380 fit">
              <ul class="social-icons"></ul><!-- end of .social-icons -->         
            </div><!-- end of col-380 fit -->
           
          </div><!-- end of col-940 -->
                               
          <div class="grid col-300 copyright">
              &copy; 2013 <a href="http://www.vistaprint.com/" title="Vistaprint | Business Cards, Websites, Postcards, T-shirts And More">Vistaprint</a>
          </div><!-- end of .copyright -->
          
          <div class="grid col-300 scroll-top"><a href="#scroll-top" title="scroll to top">&uarr;</a></div>
          
          <div class="grid col-300 fit powered">
          </div><!-- end .powered -->
          
      </div><!-- end #footer-wrapper -->
      
  </div><!-- end #footer -->

  <script type='text/javascript' src='{{ page.pathmodifier }}javascripts/responsive.js'></script>
</body>
</html>
